.post,
.job-post {

  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 15px;
}

.post-header,
.job-post-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post-header img,
.job-post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header .details
.job-post-header .details {
  flex-grow: 1;
}

.post-header .details h4,
.job-post-header .details h4 {  
  margin: 0;
  font-size: 16px;
}

.post-header .details h4:hover,
.job-post-header .details h4:hover {
  color: #e2687e;
  cursor: pointer;
}


.post-header .details p,
.job-post-header .details p {
  margin: 2px 0 0;
  color: #666;
  font-size: 12px;
}

.title {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
}

.title .fa-hands-holding-child {
  color: #e2687e;
  font-size: 20px;
}

.post-content,
.job-post-content {
  padding: 15px;
  font-size: 14px;
  line-height: 1.6;
}

.post-images {
  display: flex;
  overflow: hidden;
  width: 95%;
  gap: 3px;
  margin: 0 auto;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;

}

.post-images img {
  width: 49.7%;
  height: auto;
  object-fit: cover;

}

.post-footer,
.job-post-footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer #likes,
.post-footer #comments,
.job-post-footer #likes,
.job-post-footer #comments {
  font-size: 14px;
  color: #666;
}

.post-footer #likes:hover,
.post-footer #comments:hover,
.job-post-footer #likes:hover,
.job-post-footer #comments:hover {
  font-size: 14px;
  color: #e2687e;
  cursor: pointer;
}

.post-actions,
.job-post-actions2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 94%;
  margin-bottom: 5px;
  gap: 10px;
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.fa-heart:hover,
.fa-comment:hover {
  color: #e2687e;

}

.post-actions .act,
.job-post-actions2 .act {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

.post-actions .act:hover,
.job-post-actions2 .act:hover {
  color: #e2687e;
}

.post-actions .act i,
.job-post-actions2 .act i {
  font-size: 20px;
  color: #333;
}

.post-actions .act:hover i,
.job-post-actions2 .act:hover i { 
  color: #e2687e;
}



.post-actions button,
.job-post-actions2 button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.post-actions button:hover,
.job-post-actions2 button:hover {
  color: #007bff;
}

.post-comment,
.job-post-comment {
  padding: 8px;
  display: flex;
  align-items: center;

}

.post-comment input,
.job-post-comment input {
  width: 93%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;


}

.post-comment input:focus,
.job-post-comment input:focus {
  border-color: #e2687e;
}

#submit-comment,
#job-submit-comment {
  width: 30px;
  height: 30px;
  font-size: 24px;
  border: none;
  background-color: white;
  cursor: pointer;


}

#submit-comment:hover,
#job-submit-comment:hover {
  color: #e2687e;

}

.comments-list,
.job-post-comments-list {
  margin-top: 15px;
}


.comment,
.job-post-comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.comment-profile-img,
.job-post-comment-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content,
.job-post-comment-content {
  flex-grow: 1;
}


.comment-username,
.job-post-comment-username {
  font-weight: bold;
  color: #333;
}


.comment-text,
.job-post-comment-text {
  margin-top: 5px;
  color: #555;
  font-size: 14px;
}


.delete-comment {
  background: none;
  border: none;
  color: #e2687e;
  cursor: pointer;
  font-size: 12px;
  transition: color 0.3s;
  align-self: center;
}


.delete-comment:hover {
  color: #e2687e;
}


.comments-list.hidden,
.job-post-comments-list.hidden {
  display: none;
}


.comments-list,
.job-post-comments-list {
  margin-top: 15px;
  display: block;
  border-top: 1px solid #ddd;
}

.comments-toggle,
.job-post-comments-toggle {
  border: none;
  background-color: white;
  color: #e2687e;
  padding-left: 10px;
  cursor: pointer;

}

.add_post {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: white;


}

.add_post button {
  border: none;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
}

.add_post button:hover {
  color: #e2687e;

}
.fa-briefcase{
  font-size: 27px;
  margin-left: 3px;
}



.fa-image {
  color: #e2687e;
  font-size: 60px;


}